{% extends "MainBundle::base.html.twig" %}

{% block title %}Page d'accueil{% endblock %}

{% block navAccueil %}class="active"{% endblock %}

{% block body %}
<main>
	<div class="container text-center carrousel">
		<div id="actCarousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				{% for slide in 0..(conf|length)-1 %}
					<li data-target="#actCarousel" data-slide-to="{{slide}}"{% if slide == 0 %} class="active"{% endif %}></li>
				{% endfor %}
			</ol>
			<div class="carousel-inner" role="listbox">
				{% set i = 0 %}
				{% for act in conf %}
					<div class="item {% if i == 0 %}active{% endif %}">
						{% for img in act.imgAct %}
							{% if img.typeImg.idType == 1 %}
								<img src="{{asset('img/')}}{{img.chemin}}" alt="">
							{% endif %}
						{% endfor %}
						<div class="carousel-caption">
							<a href="{{path('showAct', {'id': act.idActivite})}}">
								{{act.nomActivite}} <br>
								{% for date in act.idDateAct if date.typeDate.idType == 1 %}
									{{date.date|date("d/m/Y")}}
								{% endfor %}
							</a>
						</div>
					</div>
					{% set i = i+1 %}
				{% endfor %}
			</div>
			<a class="left carousel-control" href="#actCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#actCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<hr/>
	<div class="container">
		<div class="activite blank">
			{% for act in prop %}
				<div class="col-md-4">
					<img src="" alt="" class="imgAct">
				</div>
				<div class="col-md-8">
					<h2>{{act.nomActivite}}</h2>
					{% for date in act.idDateAct if date.typeDate.idType == 1 %}
						<p>{{date.date|date("d/m/Y")}}</p>
					{% else %}
						<p>{{act.descriptionActivite}}</p>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="espaceBas"></div>
</main>
{% endblock %}
