{% extends "MainBundle::base.html.twig" %}

{% block title %}Activité{% endblock %}

{% block navActivites %}class="active"{% endblock %}

{% block body %}

<main>
    <div class="container blank">
		<div class="row">
				<div class="col-md-5 col-md-offset-2">
					<h2>{{act.nomActivite}}</h2>
				</div>
				<img class="imgAct" src="{{asset('img/')}}{{couv.chemin}}" alt="">
				<div class="col-md-8 col-md-offset-2">
					<h4>{{act.descriptionActivite}}</h4>
				</div>
				<div class="col-md-4 text-center">
					<h4>Où ?</h4>
					<p>{{act.lieu}}</p>
				</div>
				<div class="col-md-4 text-center">
					<h4>Quand ?</h4>
					<p>{{date.date|date("d/m/Y")}}</p>
				</div>
				<div class="col-md-4 text-center">
					<h4>Combien ?</h4>
					<p>{{act.prixActivite}}€</p>
				</div>
					<div class="col-md-2 col-md-offset-4 text-center">
						<a href={{path('photosAct', {'id':act.idActivite})}}><div class="inscription"><h4>Photos</h4></div></a>
					</div>
					<div class="col-md-2 text-center">
						{% if app.session.get('roleUser') == 1 %}
							{% for sub in subs if sub.idInscrit.idUser == app.session.get('idUser') %}
									{% if act.etatAct.idEtat == 2 %}
										<button class="inscription">Voté</button>
									{% elseif act.etatAct.idEtat == 3 %}
										<button class="inscription">Inscrit</button>
									{% endif %}
							{% else %}
									{% if act.etatAct.idEtat == 2 %}
									<form action="" method="POST">
										<input class="inscription" type="submit" name="subAct" value="Voter">
										<input type="text" name="info" placeholder="Informations supplémentaires" size="25">
									</form>
									{% elseif act.etatAct.idEtat == 3 %}
									<form action="" method="POST">
										<input class="inscription" type="submit" name="subAct" value="S'inscrire">
										<input type="text" name="info" placeholder="Informations supplémentaires" size="25">
									</form>
									{% endif %}
							{% endfor %}
						{% elseif app.session.get('roleUser') == 2 %}
							{% if act.etatAct.idEtat == 2 %}
								<a href="{{path('subAct', {'id' : act.idActivite})}}"><button class="inscription">Votes</button></a>
							{% elseif act.etatAct.idEtat == 3 %}
								<a href="{{path('subAct', {'id' : act.idActivite})}}"><button class="inscription">Inscrits</button></a>
							{% endif %}
						{% endif %}
					</div>
		</div>
	</div>
	<div class="espaceBas"></div>
</main>
{% endblock %}