{% extends "MainBundle::base.html.twig" %}

{% block title %}Activités{% endblock %}

{% block navActivites %}class="active"{% endblock %}

{% block body %}
<main>
    <div class="container">
        <ul class="nav nav-pills">
            <li class="active"><a href="#subTab" data-toggle="tab">Soumises</a></li>
            <li><a href="#propTab" data-toggle="tab">Proposées</a></li>
            <li><a href="#confTab" data-toggle="tab">Confirmées</a></li>
            <li><a href="#compTab" data-toggle="tab">Effectuées</a></li>
        </ul>
        <div class="text-center blank">
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="subTab">
                    <div class="row">
                        <div class="col col-md-9 col-md-offset-1">
                        {% for act in list if act.etatAct.idEtat == 1 %}
                            <a href="{{path('showAct', {'id':act.idActivite})}}">
                                <div class="submited col col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1 activity">
                                    <p>{{act.nomActivite}}</p>
                                </div>
                            </a>
                        {% endfor %}                    
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="propTab">
                    <div class="row">
                        <div class="col col-md-9 col-md-offset-1">
                        {% for act in list if act.etatAct.idEtat == 2 %}
                            <a href="{{path('showAct', {'id':act.idActivite})}}">
                                <div class="proposed col col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1 activity">
                                    <p>{{act.nomActivite}}</p>
                                </div>
                            </a>
                        {% endfor %}                    
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="confTab">
                    <div class="row">
                        <div class="col col-md-9 col-md-offset-1">
                        {% for act in list if act.etatAct.idEtat == 3 %}
                            <a href="{{path('showAct', {'id':act.idActivite})}}">
                                <div class="confirmed col col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1 activity">
                                    <p>{{act.nomActivite}}</p>
                                </div>
                            </a>
                        {% endfor %}                    
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="compTab">
                    <div class="row">
                        <div class="col col-md-9 col-md-offset-1">
                        {% for act in list if act.etatAct.idEtat == 4 %}
                            <a href="{{path('showAct', {'id':act.idActivite})}}">
                                <div class="completed col col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1 activity">
                                    <p>{{act.nomActivite}}</p>
                                </div>
                            </a>
                        {% endfor %}                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="espaceBas"></div>
</main>
{% endblock %}