{% extends "MainBundle::base.html.twig" %}

{% block title %}Activité{% endblock %}

{% block navActivites %}class="active"{% endblock %}

{% block body %}

<main>
    <div class="container">
        {% for img in list  %}
            <div class="row photos">
                    <img class="col col-md-7" src="{{ asset('img/') ~ img.chemin}}" alt="photo_{{act.idActivite}}_{{img.auteurImg.prenom ~ img.auteurImg.nom}}">
                    <div class="photo-details col-md-5">
                        <div class="auteur-photo">
                            <img class="avatar-comm" src="{% if img.auteurImg.avatarUser != NULL %}{{ asset('img/') ~ img.auteurImg.avatarUser.chemin}}{% else %}{{asset('img/avatar.jpg')}}{% endif %}" alt="avatar_{{img.auteurImg.prenom ~ img.auteurImg.nom}}">
                            <h2>{{img.auteurImg.prenom}} {{img.auteurImg.nom}}</h2>
                        </div>
                            <div class="photo-commentaire">
                        {% for com in coms if com.imgComm.idImg == img.idImg %}
                            <div>
                                <img class="avatar-comm" src="{% if com.auteurComm.avatarUser != NULL %}{{ asset('img/') ~ com.auteurComm.avatarUser.chemin}}{% else %}{{asset('img/avatar.jpg')}}{% endif %}" alt="avatar_{{com.auteurComm.prenom ~ com.auteurComm.nom}}">
                                {{com.auteurComm.prenom}} {{com.auteurComm.nom}}<br>
                                <p class="text-comm">{{com.commentaire}}</p>
                            </div>
                        {% endfor %}
                            <div>
                                <form action="" method="post">
                                    <div class="input-group">
                                        <input type="hidden" value="{{img.idImg}}" name="idImg">
                                        <textarea class="form-control" name="Commentaire"></textarea>
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit" name="submitComm" value="Envoyer">
                                                <i class="fa fa-paper-plane"></i>
                                            </button>
                                            {% for like in img.likesUser %}
                                                {% if like.idUser == app.session.get('idUser') %}
                                                <button class="btn btn-default" data-toggle="tooltip" title="Aimée" type="submit" name="likePhoto" value="Envoyer">
                                                    <i class="fa fa-heart-o"></i>
                                                </button>
                                                {% endif %}
                                            {% else %}
                                                <button class="btn btn-default" data-toggle="tooltip" title="Aimer" type="submit" name="likePhoto" value="Envoyer">
                                                <i class="fa fa-heart"></i>
                                                </button>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    <div class="espaceBas"></div>
</main>
{% endblock %}