{% extends "MainBundle::base.html.twig" %}

{% block title %}Activité{% endblock %}

{% block body %}

<main>
    <div clas="container text-center carrousel blank">
        <div class="row">
            <div class="col col-md-8 col-md-offset-2 col col-sm-8 col-sm-offset-2 information">
                <div class="row">
                    <img class="col col-md-7 photo-act-sec" src="{{ asset('img/jetbear-mnrart.gif') }}" alt="ours volant">
                    <span class="photo-details col-md-5">
                        <div class="photo-information">
                            <div class="description-photo">
                                <img class="avatar-comm" src="{{ asset('img/car1.jpg') }}" alt="avatar-comm">
                                aezrazerazr
                            </div>
                        </div>
                        <div class="photo-commentaire pre-scrollable">
                            <div>
                                <img class="avatar-comm" src="{{ asset('img/avatar1.png') }}" alt="avatar-comm">
                                aezrazerazr
                            </div>
                            <hr>
                            <div>
                                <img class="avatar-comm" src="{{ asset('img/avatar2.png') }}" alt="avatar-comm">
                                aezrazerazraze
                            </div>
                            <hr>
                            <div>
                                <img class="avatar-comm" src="{{ asset('img/avatar3.png') }}" alt="avatar-comm">
                                aezrazerazrshbgf
                            </div>
                            <hr>
                            <div>
                                <img class="avatar-comm" src="{{ asset('img/avatar4.png') }}" alt="avatar-comm">
                                aezetujhunrazerazr
                            </div>
                            <hr>
                            <div>
                                <img class="avatar-comm" src="{{ asset('img/avatar2.png') }}" alt="avatar-comm">
                                aezrazerkutazr
                            </div>
                            <hr>
                            <div>
                                <img class="avatar-comm" src="{{ asset('img/avatar1.png') }}" alt="avatar-comm">
                                aezrazedryrazr
                            </div>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col col-md-8 col-md-offset-2 information">
                <div class="row">
                    <img class="col col-md-7 photo-act-sec" src="{{ asset('img/jetbear-mnrart.gif') }}" alt="ours volant">
                    <span class="photo-details col-md-5">
                        <div class="photo-information">
                            <div class="description-photo">
                                <img class="avatar-comm" src="{{ asset('img/car1.jpg') }}" alt="avatar-comm">
                                aezrazerazr
                            </div>
                        </div>
                        <div class="photo-commentaire">
                            
                        </div>
                    </span>
                </div>
            </div>
            <div class="col col-md-8 col-md-offset-2 information">
                <div class="row">
                    <img class="col col-md-7 photo-act-sec" src="{{ asset('img/jetbear-mnrart.gif') }}" alt="ours volant">
                    <span class="photo-details col-md-5">
                        <div class="photo-information">
                            <div class="description-photo">
                                <img class="avatar-comm" src="{{ asset('img/car1.jpg') }}" alt="avatar-comm">
                                aezrazerazr
                            </div>
                        </div>
                        <div class="photo-commentaire">
                            
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="espaceBas"></div>
</main>
{% endblock %}