{% extends "MainBundle::base.html.twig" %}

{% block title %}Boutique{% endblock %}

{% block navBoutique %}class="active"{% endblock %}

{% block body %}
<main>
    <div class="container-fluid text-center header-title">
        <h1>Liste des produits</h1>
    </div>
    <div class="container blank">
		<div class="row barShop">
			<div class="col-md-4">
				<form action="" method="post">
					<div class="input-group">
						<input class="form-control" type="text" name="srch" placeholder="Rechercher un produit">
						<span class="input-group-btn">
							<button type="submit" name="srchProd" id="srchProd" class="btn btn-default"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</form>
			</div>
			<div class="col-md-4 text-center">
			{% if app.session.get('roleUser') == 3 %}.
				<a href="{{path('addProd')}}"><button class="btn btn-primary">Créer un produit <i class="fa fa-plus"></i></button></a>
			{% endif %}
			</div>
			<div class="col-md-4 cart">
			    <a href="{{path('cart')}}"><button class="btn btn-default">Voir mon panier <span>{{app.session.get('cart')|length}}</span> <i class="fa fa-cart-arrow-down"></i></button></a>
			</div>
		</div>
			<div class="row">
				{% for prod in list %}
			  	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
			    	<div class="thumbnail imgProduit">
			    		{% set src = "" %}
			    		{% for img in prod.imgProd if img.typeImg.idType == 1 %}
			    			{% set src = img.chemin %}
			    		{% endfor %}
			      		<img src="{{asset('img/')}}{{src}}" alt="image produit">
			      		<div class="caption">
			        		<h4>{{prod.nomProduit}}</h4>
			        		<span>{{prod.prixProduit}}€</span>
			        		<a href={{path('produit', {'id':prod.idProduit})}} class="btn btn-defualt" role="button">Voir le produit</a>
			      		</div>
			    	</div>
			  	</div>
			  {% endfor %}
			</div>
	</div>
	<div class="espaceBas"></div>
</main>

{% endblock %}