{% extends "MainBundle::base.html.twig" %}

{% block title %}{{produit.nomProduit}}{% endblock %}

{% block navBoutique %}class="active"{% endblock %}

{% block body %}
<main>
	<div class="container-fluid text-center header-title">
		{% if produit is defined %}
			<h2>Modification de</h2>
			<h1>{{produit.nomProduit}}</h1>
		{% else %}
		<h1>Création d'un produit</h1>
		{% endif %}
    </div>
        {% if err is defined and err != "" %}
            <div class="alert alert-danger">
                {{err}}
            </div>
        {% endif %}
	<div class="container blank formulaire">
		<div class="col-md-6 col-md-offset-3">
			<form id="prodForm" class="usefulForm" enctype="multipart/form-data" method="post" action="">
				<div class="form-group">
					<label class="control-label" for="Nom">Nom :</label>
					<input class="form-control" type="text" name="nom" placeholder="Entrer un nom de produit" size="30"
					{% if produit.nomProduit is defined %}value="{{produit.nomProduit}}"{% endif %} required>
					<label class="control-label" for="Description">Description :</label>
					<textarea class="form-control" name="desc" placeholder="Entrer un description de produit" required>{% if produit.descriptionProduit is defined %}{{produit.descriptionProduit}}{% endif %}</textarea>
					<label class="control-label" for="Prix">Prix (€) :</label>
					<input class="form-control" type="number" step="0,01" name="prix" placeholder="Entrer un prix" size="5"
					{% if produit.prixProduit is defined %}value="{{produit.prixProduit}}"{% endif %} required>
					<label class="control-label" for="Stock">Stock :</label>
					<input class="form-control" type="number" name="stock" placeholder="Entrer un stock" size="5"
					{% if produit.stock is defined %}value="{{produit.stock}}"{% endif %} required>
					<label class="control-label" class="control-label" for="imgProd">Image d'affiche :</label>
					{% if produit.imgProd is defined %}
						{% for img in produit.imgProd if img.typeImg.idType == 1 %}
							<img src="{{asset('img/')}}{{img.chemin}}" alt="image produit" title="{{produit.nomProduit}}">
						{% endfor %}
					{% endif %}
					<input class="form-control" type="file" name="prodImg" required>
				</div>
			</form>
			<div class="btn-group col-md-6 col-md-offset-4">
			{% if produit.idProduit is defined %}
				<input form="prodForm" type="submit" class="btn btn-primary" name="modProd" value="Modifier">
				<input form="prodForm" type="submit" class="btn btn-primary" name="addProd" value="Supprimer">
			{% else %}
				<input form="prodForm" type="submit" class="btn btn-primary" name="addProd" value="Enregistrer">
			{% endif %}	
			</div>
		</div>
	</div>
	<div class="espaceBas"></div>
</main>
{% endblock %}