{% extends "MainBundle::base.html.twig" %}

{% block title %}Votre panier{% endblock %}

{% block navBoutique %}class="active"{% endblock %}

{% block body %}
<main>
	<div class="header-title container-fluid text-center">
		<h1>Votre panier</h1>
		<h2>{{app.session.get('cart')|length}} articles</h2>
    </div>
    <div class="container text-center carrousel blank">
			<div class="row">
				{% for prod in produits %}
					{% set produit = prod.prod %}
					{% set quantite = prod.qt %}
			  	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
			    	<div class="thumbnail imgProduit">
			      		<img src="
				      	{% for img in produit.imgProd if img.typeImg.idType == 1 %}
				    		{{asset('img/')}}{{img.chemin}}
				    	{% endfor %}
				    	" alt="image produit" title="{{produit.nomProduit}}">
			      		<div class="caption">
			        		<h4>{{produit.nomProduit}}</h4>
			        		<span>{{produit.prixProduit}}&nbsp;€ - {{quantite}}</span>
			        		<a href="{{path('produit', {'id': produit.idProduit})}}" class="btn btn-defualt" role="button">Voir le produit</a>
			      		</div>
			    	</div>
			  	</div>
			  	{% else %}
			  	<h4>Vous n'avez pas encore choisi de produit !</h4>
			  	{% endfor %}
				<div class="row">
					<div class="col-md-2 col-md-offset-9">
						<button class="inscription"><h4>Commander</h4></button>
					</div>
				</div>
			</div>
		</div>
	<div class="espaceBas"></div>
</main>
{% endblock %}