{% extends "MainBundle::base.html.twig" %}

{% block title %}{% if produit is defined %}{{produit.nomProduit}}{% else %}Création d'un produit{% endif %}{% endblock %}

{% block navBoutique %}class="active"{% endblock %}

{% block body %}
<main>
	<div class="container">
		<div class="row barShop">
			<div class="col-md-4 col-md-offset-8 cart">
			    <a href="{{path('cart')}}"><button class="btn btn-default">Voir mon panier <span>{{app.session.get('cart')|length}}</span> <i class="fa fa-cart-arrow-down"></i></button></a>
			</div>
		</div>
		<div class="blank">
			<div class="row">
				<div class="col-md-3 imgProduit">
			      	<img src="
			      	{% for img in prod.imgProd if img.typeImg.idType == 1 %}
			    		{{asset('img/')}}{{img.chemin}}
			    	{% endfor %}
			    	" alt="image produit" title="{{prod.nomProduit}}">
				</div>
				<div class="col-md-3">
					<div class="infoProd">
						<p>Référence</p>
						<p>Nom</p>
						<p>Prix</p>
					</div>
					<div class="caracProd">
						<p>{{prod.idProduit}}</p>
						<p>{{prod.nomProduit}}</p>
						<p>{{prod.prixProduit}}&nbsp;€</p>
					</div>
				</div>			
				<div class="col-md-6 description">
					<!-- texte de description du produit -->
					<p>
						{{prod.descriptionProduit}}
					</p>				
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-8">
					<form id="buyForm" action="" method="post" enctype="multipart/form-data">
						<input type="hidden" name="id" value="{{prod.idProduit}}">
						<div class="input-group">
							<input class="form-control" type="number" name="Quantite" placeholder="Quantité" min="1" value="1" required>
							<span class="input-group-btn">
								<input class="btn btn-default" type="submit" name="buyProd" value="Acheter">
							</span>
						</div>
					</form>
					{% if app.session.get('roleUser') == 3 %}
						<a href="{{path('modProd', {'id': prod.idProduit})}}"><button class="btn btn-primary">Modifier le produit <i class="fa fa-plus"></i></button></a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="espaceBas"></div>
</main>
{% endblock %}