{% extends "MainBundle::base.html.twig" %}

{% block title %}Produit{% endblock %}

{% block navBoutique %}class="active"{% endblock %}

{% block body %}
<main>
	<div class="container">
		<div class="col-md-2 col-md-offset-10 cart">
		    <a href="{{path('cart')}}">
		        <i class="fa fa-cart-arrow-down"></i>
		        <p>Panier : {{app.session.get('cart')|length}}</p>
		    </a>
		</div>
		<div class="blank">
			<div class="row">
				<div class="col-md-3 imgProduit">
			      	<img src="
			      	{% for img in prod.imgProd if img.typeImg.idType == 1 %}
			    		{{asset('img/')}}{{img.chemin}}
			    	{% endfor %}
			    	" alt="image produit" title="{{prod.nomProduit}}">
				</div>
				<div class="col-md-3">
					<div class="infoProd">
						<p>Référence</p>
						<p>Nom</p>
						<p>Prix</p>
					</div>
					<div class="caracProd">
						<p>{{prod.idProduit}}</p>
						<p>{{prod.nomProduit}}</p>
						<p>{{prod.prixProduit}}&nbsp;€</p>
					</div>
				</div>			
				<div class="col-md-6 description">
					<!-- texte de description du produit -->
					<p>
						{{prod.descriptionProduit}}
					</p>				
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-10">
					<form id="buyForm" action="" method="post" enctype="multipart/form-data">
						<input type="number" name="Quantite" min="1" value="1" size="4" required>
						<input type="hidden" name="id" value="{{prod.idProduit}}">
						<input class="btn btn-default" type="submit" name="buyProd" value="Acheter">
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="espaceBas"></div>
</main>
{% endblock %}